<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <p class="bold">
            <%= image_tag('', class: 'uk-banner') %>
            Stand with Ukraine.
            <u><%= link_to 'Donate to support', 'https://savelife.in.ua/en/donate-en/' %></u>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>