.donations {
  position: relative;

  #donate {
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  #analytics {
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .panel {
    border-left: 4px solid #CCC;
  }
}